{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% for message in messages  %}
<h5 style="color: red;">{{messages}}</h5>
{% endfor %}
<form action="{% url 'register_account' %}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            {% csrf_token %}
            {{form | crispy}}
            <br>
            <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary btn-block"> 
                Sign Up</button>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">
                    Back To Login
                </a>
            </div>
            </div>
        </div>
    </div> 
</form>
{% endblock content %}