{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    <div class="row">
        <div class="col-md-8">
            <h4>Felicitation, mot de passe reinitiialiser avec succes !!!</h4>
            <div class="col-md-4">
            <a href="{% url 'login' %}" class="btn btn-secondary btn-block">
                <i class="fas fa-stream"></i> Se reconnecter
            </a>
        </div>
        </div>
    </div> 
</form>
{% endblock content %}