{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h3>Entrez votre nouveau mot de passe.</h3>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            {% csrf_token %}
            {{form | crispy}}
            <br>
            <div class="row">
            <div class="col-md-8">
            <input type="submit" class="btn btn-warning btn-block">
            </div>
            </div>
        </div>
    </div> 
</form>
{% endblock content %}